
body, html {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, #container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::selection {
  background-color: rgba(64, 80, 90, .4);
  color: rgba(250, 250, 250, 1);
}

::-moz-selection {
  background-color: rgba(64, 80, 90, .4);
  color: rgba(250, 250, 250, 1);
}

p, h1, h2, h3, h4, h5, a, cite {
  text-rendering: optimizeLegibility;
}

/* import our actual css */
@import 'header';
@import 'quotecontainer';
@import 'footer';
@import 'favorites';

/* import our theme colors */

@import 'dark';
@import 'light';