html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: url(../img/mobileLight.jpg) no-repeat center center;
    background-size: 100%;
}

p.author {
  width: 98%;
  height: auto;
  font-family: Georgia;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-size: 3em;
}

div.wrapper cite {
    width: 98%;
    height: auto;
    font-size: 3.5em;
    float: left;
    padding: 1%;
    font-family: Georgia;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
}

li.MLove {
    background: transparent url(../img/heart.png) no-repeat center;
    background-size: 25px;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    cursor: pointer;
    -webkit-animation: toLove 2s ease-in-out infinite;
       -moz-animation: toLove 2s ease-in-out infinite;
         -o-animation: toLove 2s ease-in-out infinite;
            animation: toLove 2s ease-in-out infinite;
    position: fixed;
    bottom: 2px;
    right: 340px;
    z-index: 15;
}

#form, iframe, p.alert, div.restore, ul, .search, footer, div#theme, .fav_search, div.sharer, a.lovedOnes {
  display: none;
}
