html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

::selection {
    background-color: rgba(64, 80, 90, .4);
    color: rgba(250, 250, 250, 1);
}

p, h1, h2, h3, h4, h5, a, cite, {
    text-rendering: optimizeLegibility;
}

body div.wrapper {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

body div.wrapper cite:focus, p:focus {
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 1);
}

div.wrapper cite {
    width: 98%;
    height: auto;
    float: left;
    padding: 1%;
    font-family: Georgia;
    font-size: 2.5em;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
}

div.wrapper cite::before {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '“';
}

div.wrapper cite::after {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '”';
}

div.wrapper p#author {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
}

div.wrapper p#author::before {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
    content: '- ';
}

div.send {
    float: right;
    width: auto;
    height: auto;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    float: left;
    text-decoration: none;
    font-weight: 700;
    color: rgba(64, 80, 90, 5);
}

div.send:hover {
    color: rgba(64, 80, 90, .8);
}

div.love {
    float: right;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    position: fixed;
    right: 270px;
    bottom: 10px;
    border-radius: 4px;
}

div.loving {
    background: transparent url(../img/heart.png) no-repeat center;
    background-size: 25px;
    float: right;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    position: fixed;
    right: 270px;
    bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

div.toLove {
    background: transparent url(../img/heart.png) no-repeat center;
    background-size: 25px;
    float: right;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    position: fixed;
    right: 270px;
    bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-animation: toLove 2s ease-in-out infinite;
       -moz-animation: toLove 2s ease-in-out infinite;
         -o-animation: toLove 2s ease-in-out infinite;
            animation: toLove 2s ease-in-out infinite;
}

div.toLove:hover {
    opacity: .9;
}

div.send a {
    text-decoration: none;
    color: rgba(64, 80, 90, 1);
}

div.wrapper p#author a {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
}

div.how_to {
    float: right;
    width: auto;
    height: auto;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    position: fixed;
    right: 105px;
    bottom: 10px;
    cursor: pointer;
}

div.how_to a {
    float: left;
    text-decoration: none;
    font-weight: 700;
    color: rgba(64, 80, 90, .9);
    margin: 0;
    padding: 0;
}

div.how_to:hover a {
    color: rgba(64, 80, 90, 1);
}

div.wrapper h1 {
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    color: rgba(64, 80, 90, 1);
}

div.wrapper h1 i {
    font-size: .7em;
    font-style: normal;
    padding: .25em;
    margin-left: .5em;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(64, 80, 90, .4);
    border-radius: 3px;
    cursor: default;
}

div.wrapper h1:hover i {
    background-color: rgba(64, 80, 90, .5);
}

div.wrapper p {
    font-size: 1.3em;
    color: rgba(64, 80, 90, 1);
}

div.wrapper code {
    width: 97%;
    padding: 1.2%;
    float: left;
    font-size: 1.2em;
    color: rgba(64, 80, 90, .8);
}

div.refresh {
    width: 30px;
    height: 30px;
    float: right;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 15px;
    right: 190px;
    background: url(../img/refresh.png) no-repeat center;
    background-color: transparent;
    background-size: 80%;
    border-radius: 2px;
    cursor: pointer;
}

div.wrapper ul {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li {
    float: left;
    padding: .5%;
    font-family: Georgia;
    font-size: .9em;
    margin: 0;
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li a {
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li a.disabled {
    text-decoration: none;
    cursor: default;
}

div.wrapper section {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0;
}

div.wrapper section h2 {
    font-family: Georgia;
    color: rgba(64, 80, 90, 1);
    font-size: 2em;
    text-align: center;
}

div.wrapper section h2 i {
    font-size: .7em;
    font-style: normal;
    padding: .25em;
    margin-left: .5em;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(64, 80, 90, .4);
    border-radius: 3px;
    cursor: default;
}

div.wrapper section h2:hover i {
    background-color: rgba(64, 80, 90, .5);
}


div.wrapper p#author span.dev_fav {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../img/star.png) no-repeat center;
    background-size: 18px;
    background-color: transparent;
    border-radius: 3px;
    padding: 0;
    margin: 1px 5px;
    display: inline-block;
    opacity: .7;
}

div.wrapper p#author span.dev_fav:hover {
    opacity: .8;
}

@-webkit-keyframes toLove {
     0% {
        -webkit-transform: scale(.95, .95);
         opacity: .7;
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
        opacity: .9;
    }
    90% {
        -webkit-transform: scale(1, 1);
        opacity: .7;
    }
    100% {
        opacity: .7;
    }
}

@-moz-keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-o-keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

div.wrapper div.restore {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: Open Sans;
    font-size: .9em;
    color: rgba(64, 80, 90, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius:  2px;
    margin: 0;
    display: none;
}

div.restore:focus {
    border: 0;
    outline: 0;
    background-color: rgba(252, 252, 252, 1);
}

div.restore::before {
    width: auto;
    height: auto;
    padding: 10px 0;
    content: 'Restore Code:';
}



















