html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: rgba(250, 250, 250, 1) url(../img/bg.png) no-repeat center center;
}

::selection {
    background-color: rgba(64, 80, 90, .4);
    color: rgba(250, 250, 250, 1);
}

p, h1, h2, h3, h4, h5, a, cite, {
    text-rendering: optimizeLegibility;
}

body div.wrapper {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 100px;
}

body div.wrapper cite:focus, p:focus {
    border: 0;
    outline: 0;
    color: rgba(64, 80, 90, .8);
}

div.wrapper cite {
    width: 98%;
    height: auto;
    float: left;
    padding: 1%;
    font-family: Georgia;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
}

div.wrapper cite::before {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '“';
}

div.wrapper cite::after {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '”';
}

div.wrapper p#author {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
}

div.wrapper p#author::before {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
    content: '- ';
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 1);
    margin: 0;
    padding: 0;
    z-index: 10;
}

footer ul {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
}

footer ul li.send {
    width: auto;
    height: 100%;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: rgba(64, 80, 90, 5);
}

li.send:hover {
    color: rgba(64, 80, 90, .8);
}

div.love {
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    position: fixed;
    bottom: 2px;
    right: 250px;
    border-radius: 2px;
    z-index: 10;
}

div.loving {
    background: transparent url(../img/heart.png) no-repeat center;
    background-size: 25px;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    bottom: 2px;
    right: 250px;
    z-index: 10;
}

div.loving::before {
    width: auto;
    height: 20px;
    content: 'Fav';
    float: right;
    margin-right: 30px;
    font-weight: 700;
    color: rgba(64, 80, 90, .7);
    padding: 0;
    -webkit-animation: loveBefore 2s linear;
    opacity: 0;
}

div.toLove {
    background: transparent url(../img/heart.png) no-repeat center;
    background-size: 25px;
    width: 20px;
    height: 20px;
    font-family: Open Sans;
    padding: 10px;
    cursor: pointer;
    -webkit-animation: toLove 2s ease-in-out infinite;
       -moz-animation: toLove 2s ease-in-out infinite;
         -o-animation: toLove 2s ease-in-out infinite;
            animation: toLove 2s ease-in-out infinite;
    position: fixed;
    bottom: 2px;
    right: 250px;
    z-index: 10;
}

div.toLove:hover {
    opacity: .9;
}

li.send a {
    text-decoration: none;
    color: rgba(64, 80, 90, 1);
}

div.wrapper p#author a {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
}

footer ul li.how_to {
    width: auto;
    height: auto;
    font-family: Open Sans;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

li.how_to a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(64, 80, 90, .9);
    margin: 0;
    padding: 0;
}

footer ul li.refresh {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 0;
    background: url(../img/refresh.png) no-repeat center;
    background-color: transparent;
    background-size: 80%;
    border-radius: 2px;
    cursor: pointer;
}

div.how_to:hover a {
    color: rgba(64, 80, 90, 1);
}

div.wrapper h1 {
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    color: rgba(64, 80, 90, 1);
}

div.wrapper h1 i {
    font-size: .7em;
    font-style: normal;
    padding: .25em;
    margin-left: .5em;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(64, 80, 90, .4);
    border-radius: 3px;
    cursor: default;
}

div.wrapper h1:hover i {
    background-color: rgba(64, 80, 90, .5);
}

div.wrapper p {
    font-size: 1.3em;
    color: rgba(64, 80, 90, 1);
}

div.wrapper code {
    width: 97%;
    padding: 1.2%;
    float: left;
    font-size: 1.2em;
    color: rgba(64, 80, 90, .8);
}

div.wrapper ul {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li {
    float: left;
    padding: .5%;
    font-family: Georgia;
    font-size: .9em;
    margin: 0;
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li a {
    color: rgba(64, 80, 90, 1);
}

div.wrapper ul li a.disabled {
    text-decoration: none;
    cursor: default;
}

div.wrapper section {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0;
}

div.wrapper section h2 {
    font-family: Georgia;
    color: rgba(64, 80, 90, 1);
    font-size: 2em;
    text-align: center;
}

div.wrapper section h2 i {
    font-size: .7em;
    font-style: normal;
    padding: .25em;
    margin-left: .5em;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(64, 80, 90, .4);
    border-radius: 3px;
    cursor: default;
}

div.wrapper section h2:hover i {
    background-color: rgba(64, 80, 90, .5);
}


div.wrapper p#author span.dev_fav {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../img/star.png) no-repeat center;
    background-size: 18px;
    background-color: transparent;
    border-radius: 3px;
    padding: 0;
    margin: 1px 5px;
    display: inline-block;
    opacity: .7;
}

div.wrapper p#author span.dev_fav:hover {
    opacity: .8;
}

@-webkit-keyframes toLove {
     0% {
        -webkit-transform: scale(.95, .95);
         opacity: .7;
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
        opacity: .9;
    }
    90% {
        -webkit-transform: scale(1, 1);
        opacity: .7;
    }
    100% {
        opacity: .7;
    }
}

@-moz-keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-o-keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes toLove {
     0% {
        -webkit-transform: scale(.98, .98);
    }
    20% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-webkit-keyframes loveBefore {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div.wrapper div.restore {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 60px;
    left: 10px;
    font-family: Open Sans;
    font-size: .9em;
    color: rgba(64, 80, 90, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius:  2px;
    margin: 0;
    display: none;
}

div.restore:focus {
    border: 0;
    outline: 0;
    background-color: rgba(252, 252, 252, 1);
}

div.restore::before {
    width: auto;
    height: auto;
    padding: 10px 0;
    content: 'Restore Code:';
}

a.lovedOnes {
    position: fixed;
    top: -60px;
    left: 15px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background-color: transparent;
    -webkit-animation: lovedOnes 2.5s 1s linear;
       -moz-animation: lovedOnes 2.5s 1s linear;
         -o-animation: lovedOnes 2.5s 1s linear;
            animation: lovedOnes 2.5s 1s linear;
}

a.lovedOnes div {
    width: auto;
    height: auto;
    float: left;
    margin: 0;
    padding: 5px 15px;
}

a.lovedOnes div img {
    width: 25px;
    height: 25px;
    padding-top: 13px;
}

a.lovedOnes div div {
    float: right;
    margin: 0;
    padding: 0 5px;
}

a.lovedOnes div div p {
    font-family: Open Sans;
    font-size: .9em;
    color: rgba(64, 80, 90, 1);
}


@-webkit-keyframes lovedOnes {
    0% {
        top: -60px;
    }
    20% {
        top: 10px;
    }
    80% {
        top: 10px;
    }
    100% {
        top: -60px;
    }
}

@-moz-keyframes lovedOnes {
    0% {
        top: -60px;
    }
    20% {
        top: 10px;
    }
    80% {
        top: 10px;
    }
    100% {
        top: -60px;
    }
}

@-o-keyframes lovedOnes {
    0% {
        top: -60px;
    }
    20% {
        top: 10px;
    }
    80% {
        top: 10px;
    }
    100% {
        top: -60px;
    }
}

@keyframes lovedOnes {
    0% {
        top: -60px;
    }
    20% {
        top: 10px;
    }
    80% {
        top: 10px;
    }
    100% {
        top: -60px;
    }
}

div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    z-index: 2;
}

div.modal {
    width: 70%;
    height: 85%;
    position: fixed;
    top: 5%;
    left: 15%;
    border-radius: 4px;
    background-color: rgba(250, 250, 250, 1);
    display: none;
    z-index: 9;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.modal section {
    width: 90%;
    height: auto;
    padding: 5%;
}

div.modal section cite {
    width: 98%;
    float: left;
    padding: 1%;
    font-family: Georgia;
    font-size: 2em;
    font-weight: 100;
    color: rgba(64, 80, 90, 1);
    text-align: left;
}

div.modal section cite:focus {
    border: 0;
    outline: 0;
    color: rgba(64, 80, 90, .8);
}

div.modal section cite::before {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '“';
    padding: .5%;
}

div.modal section cite::after {
    font-family: Georgia;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: rgba(64, 80, 90, 1);
    content: '”';
    padding: 1%;
}

div.modal section p {
    font-family: Georgia;
    font-weight: 200;
    color: rgba(64, 80, 90, 1);
}

div.modal section p::before {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
    content: '- ';
}

div.modal section p a {
    font-family: Georgia;
    font-size: 1.1em;
    color: rgba(64, 80, 90, 1);
}

::-webkit-scrollbar {  
    width: 8px;
}

::-webkit-scrollbar-track {  
    background-color: rgba(234, 234, 234, .1);
}

::-webkit-scrollbar-thumb {  
    background-color: #ccc;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;
}
















