
.container {

  .howto {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 100px;
  
    h1 {
      font-family: Georgia;
      font-size: 3em;
      text-align: center;
      color: rgba(64, 80, 90, 1);
  
      i {
        font-size: .7em;
        font-style: normal;
        padding: .25em;
        margin-left: .5em;
        color: rgba(250, 250, 250, 1);
        background-color: rgba(64, 80, 90, .4);
        border-radius: 3px;
        cursor: default;
      }
    }
  
    h1:hover i {
      background-color: rgba(64, 80, 90, .5);
    }
    
    p {
      font-size: 1.3em;
      color: rgba(64, 80, 90, 1);
    }
  }

  footer {
    width: 100%;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 1);
    margin: 0;
    padding: 0;
    z-index: 10;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    ul {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;

      li {
        float: left;
      }

      li.send {
        width: auto;
        height: 100%;
        font-family: Open Sans;
        padding: 10px;
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 700;
        color: rgba(64, 80, 90, .5);
      }

      li.send:hover {
        color: rgba(64, 80, 90, .8);
      }
    }
  }
}