
@import './main/index', './howto/index';

::scrollbar {  
  width: 8px;
}

::scrollbar-track {  
  background-color: rgba(234, 234, 234, .1);
}

::scrollbar-thumb {  
  background-color: #ccc;
  border-radius: 15px;
}

::scrollbar-thumb:hover {  
  background-color: #aaa;
}

::-webkit-scrollbar {  
  width: 8px;
}

::-webkit-scrollbar-track {  
  background-color: rgba(234, 234, 234, .1);
}

::-webkit-scrollbar-thumb {  
  background-color: #ccc;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {  
  background-color: #aaa;
}

::-moz-scrollbar {  
  width: 8px;
}

::-moz-scrollbar-track {  
  background-color: rgba(234, 234, 234, .1);
}

::-moz-scrollbar-thumb {  
  background-color: #ccc;
  border-radius: 15px;
}

::-moz-scrollbar-thumb:hover {  
  background-color: #aaa;
}

::-o-scrollbar {  
  width: 8px;
}

::-o-scrollbar-track {  
  background-color: rgba(234, 234, 234, .1);
}

::-o-scrollbar-thumb {  
  background-color: #ccc;
  border-radius: 15px;
}

::-o-scrollbar-thumb:hover {  
  background-color: #aaa;
}